/** 项目主色调 **/
@baseColor: #c2a466;
@plusColor: #a6e9e9;
@reduceColor: #f23a50;

.cmain {
  color: @baseColor
}

.bmain {
  background: @baseColor
}

.mainBorder {
  border: solid 1px @baseColor
}

.bcross {
  background: linear-gradient(to right, #c2a466, #e7d1a5)
}

/** 字体颜色 **/
.cred {
  color: #f00
}

.cmoney {
  color: #fb7c39
}

.cfff {
  color: #fff
}

.ceee {
  color: #eee
}

.cddd {
  color: #ddd
}

.cccc {
  color: #ccc
}

.cbbb {
  color: #bbb
}

.c999 {
  color: #999
}

.c666 {
  color: #666
}

.c333 {
  color: #333
}

.c000 {
  color: #000
}

/** 背景颜色 **/
.bfff {
  background: #fff
}

.beee {
  background: #eee
}

.bddd {
  background: #ddd
}

.bccc {
  background: #ccc
}

.bbbb {
  background: #bbb
}

.b999 {
  background: #999
}

.b666 {
  background: #666
}

.b333 {
  background: #333
}

.b000 {
  background: #000
}
