.coupon {
  position: relative;
  background: #d51d27;
  color: #fff;
  width: 100%;
  height: 115px;
  line-height: 25px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 7px;
}

.coupon .state {
  color: #000
}

.coupon-diabled,
.coupon-diabled .state {
  background: #c3c3c3;
  color: #666;
}

.coupon:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.coupon-money .sum {
  font-size: 32px !important;
}

.coupon-condition p {
  font-size: 12px !important;
}

.coupon-left {
  float: left;
  text-align: left;
  width: 40%;
  font-size: 12px;
  /* background: url(./circle-border-left.png) left center no-repeat; */
}

.coupon-right {
  float: right;
  text-align: center;
  width: 60%;
  font-size: 14px;
  /* background: url(./circle-border-right.png) right center no-repeat; */
}

.coupon-right .state {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 0 5px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background: rgba(255, 255, 255, 0.8)
}

.coupon-inner {
  padding: 10px 15px;
  height: 115px;
  position: relative;
}

.coupon-right .coupon-inner {
  border-left: 2px dashed rgba(255, 255, 255, .5);
}

.coupon-money,
.coupon-time {
  margin-top: 12px;
}

.coupon-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  position: absolute;
  left: -9px;
  border-radius: 50%
}

.coupon-circle.top {
  top: -8px;
}

.coupon-circle.bottom {
  bottom: -8px;
}

.coupon-light {
  position: absolute;
  top: 20px;
  left: 20%;
  height: 150px;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
}
